@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #f3f4f6; /* Un gris muy claro de fondo */
  color: #111827;            /* Texto casi negro */
}

@media print {
  /* Ocultar todo por defecto */
  body * {
    visibility: hidden;
  }
  /* Mostrar solo el bloque del recibo */
  #recibo-impresion, #recibo-impresion * {
    visibility: visible;
  }
  #recibo-impresion {
    position: absolute;
    left: 0;
    top: 0;
    width: 80mm; /* Ancho estándar de tiquetera */
  }
}


